/* General */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #f5f5f5, #ffffff);
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header */
.custom-header {
    background: linear-gradient(90deg, #000000 0%, #4d07ff 100%);
    color: white;
}

.custom-header .logo {
    max-height: 60px;
}



/* Main */
.text-gradient {
    background: linear-gradient(90deg, #4d07ff, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-weight: bold;
    color: #000000;
}

/* Botón Regresar */
.btn-gradient {
    background: linear-gradient(90deg, #000000 0%, #4d07ff 100%);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-gradient:hover {
    background: linear-gradient(90deg, #4d07ff 0%, #000000 100%);
}

.text-white:hover {
    color: lightgray;
}


