html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
    padding: 20px;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto; 
}

header {
    background: linear-gradient(90deg, #000000 0%, #510cd0 100%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 80px; 
    height: auto;
  
}
.btn-lila {
    background-color: #ff66cc;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-lila:hover {
    background-color: #ff33aa;
    transform: translateY(-2px);
}

.notifications {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 800px;
    margin: 0 auto;
}

.notification h3 {
    margin: 0 0 10px 0;
}