body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e1dddd;
}
:root {
	--primary-color: #5600c5;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}
/*header*/
header {
    background: linear-gradient(90deg, #000000 0%, #510cd0 100%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    width: 100px;
    height: 100px;
}

.user-icons {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
    align-items: center;
}

.user-icon-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.user-icon {
    width: 40px;
    height: 40px;
}

.btn-lila {
    background-color: #ff66cc;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-lila:hover {
    background-color: #ff33aa;
    transform: translateY(-2px);
}

.btn-lila:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 102, 204, 0.5);
}

.btn-lila:active {
    transform: translateY(0);
    box-shadow: none;
}

.banner {
	background-image: linear-gradient(100deg, #000000, #00000020),
		url('./imagenes/grupodetrabajo-principal.jpg');
	height: 50rem;
	background-size: cover;
	background-position: center;
}

.content-banner {
	max-width: 90rem;
	margin: 0 auto;
	padding: 25rem 0;
}

.content-banner p {
	color: silver;
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

.content-banner h2 {
	color: #fff;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.content-banner a {
	margin-top: 2rem;
	text-decoration: none;
	color: #fff;
	background-color: var(--primary-color);
	display: inline-block;
	padding: 1rem 3rem;
	text-transform: uppercase;
	border-radius: 3rem;
}
/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    z-index: 1000;
    transition: opacity 0.5s;
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar a, .btn-inicio-sesion {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover, .btn-inicio-sesion:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.btn-inicio-sesion {
    background-color: #5f0fbd;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

/*categories*/
.top-categories {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-categories {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.card-category {
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}

.category-moca {
	background-image: linear-gradient(#00000080, #00000080),
		url('./imagenes/ing.jfif');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.category-capuchino {
	background-image: linear-gradient(#00000080, #00000080),
		url('./imagenes/trans.jfif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.category-expreso {
	background-image: linear-gradient(#00000080, #00000080),
		url('./imagenes/cont.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card-category p {
	font-size: 2.5rem;
	color: #fff;
	text-transform: capitalize;
	position: relative;
}

.card-category p::after {
	content: '';
	width: 2.5rem;
	height: 2px;
	background-color: #fff;
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translate(-50%, 50%);
}

.card-category span {
	font-size: 1.6rem;
	color: #fff;
	cursor: pointer;
}

.card-category span:hover {
	color: var(--primary-color);
}

/* Dropdown */
.search-menu {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

.search-form {
    display: inline-block;
    margin-bottom: 20px;
}

.search-form input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-ver-mas {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #510cd0;
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-ver-mas:hover {
    background-color: #3c0a9c;
    transform: translateY(-2px);
}

.btn-ver-mas:active {
    transform: translateY(0);
    box-shadow: none;
}


.dropdown {
    display: inline-block;
    margin-left: 10px;
}

.dropdown-select {
    padding: 10px;
    border: 1px solid #6a11cb;
    border-radius: 5px;
    background-color: #fff;
    color: #6a11cb;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.dropdown-select:hover {
    border-color: #521095;
}

/* Botón Vista Empresa */
.btn-vista-empresa {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.btn-vista-empresa:hover {
    background-color: #0056b3;
}


.btn-linda {
    background-color: #850de8; 
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-linda a {
    color: #ffffff;
    text-decoration: none;
}

.btn-linda:hover {
    background-color: #ff33aa; 
    transform: translateY(-2px);
}

.btn-linda:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 102, 204, 0.5);
}

.btn-linda:active {
    transform: translateY(0);
    box-shadow: none;
}

/*empleos*/
.container-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
    gap: 2rem; /* Espacio entre las tarjetas */
}

/* Asegura que todas las imágenes tengan el mismo tamaño */
.card-blog .container-img img {
    width: 100%;
    height: 200px; /* Ajusta la altura según lo que necesites */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
    border-radius: 2rem;
}

/* Elimina los elementos que aparecen encima de las imágenes */
.button-group-blog {
    display: none; /* Oculta el grupo de botones */
}

/* Mantiene el estilo de la tarjeta */
.card-blog {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Ajusta el espacio entre la imagen y el contenido */
}

.content-blog h3 {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    color: var(--dark-color);
    font-weight: 500;
}

.content-blog h3:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.content-blog p {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #777;
}

.content-blog span {
    color: var(--primary-color);
    font-size: 1.3rem;
}

.btn-read-more {
    padding: 1rem 3rem;
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-radius: 2rem;
    margin-top: 2rem;
    display: inline-block;
    cursor: pointer;
}

.btn-read-more:hover {
    background-color: var(--dark-color);
}
.btn-read-more {
    padding: 1rem 3rem;
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem; /* Añade espacio debajo de los botones */
    display: inline-block;
    cursor: pointer;
}

.btn-read-more:hover {
    background-color: var(--dark-color);
}

/* Footer */
.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    .container-blogs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin-bottom: 4rem; /* Añade espacio debajo del contenedor */
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }